<script setup lang="ts">
import {reactive,computed} from 'vue';

            const state = reactive({
                num1: '1',
                num2: '1',
                total: 2
            })
            const total = computed(function() {
                return parseInt(state.num1) + parseInt(state.num2)
            })
            const plus = function() {
                state.total = parseInt(state.num1) + parseInt(state.num2)
            }

</script>
<template>
    <div class="card">
        <div>
            <input type="text" ref="num1" v-model="state.num1" class="center_text">
        </div>
        <div class="center_text bold_text">+</div>
        <div>
            <input type="text" ref="num2" v-model="state.num2" class="center_text">
        </div>
        <div>
            <button class="center_text w100px" @click="plus()">=</button>
        </div>
        <div class="center_text" ref="total"> {{state.total}} </div>
        <div> {{state.num1}} + {{state.num2}} = {{state.total}} </div>
    </div>
</template>

<style>
.center_text{
            font-size: 20pt; text-align: center; margin: 5px;
        }
        .card{
            background-color: white; border: solid; border-color: red; width: 400px; text-align: center; padding: 5px;
        }
        .bold_text{
            font-weight: bold;
        }
        .w100px{
            width: 100px;
        }
</style>