<script setup lang="ts">
import {ref} from 'vue';
const text = ref("Edit me");
const checked = ref(true);
const checkednames = ref(["jack"]);
const picked = ref("");
const selected = ref("A");
const multiselected = ref(["A","B","C"]);
</script>
<template>
    <h2>Text input</h2>
    <input v-model="text">{{ text }}
    <h2>CheckBox</h2>
    <input type="checkbox" v-model="checked" id="checkbox">
    <label for="checkbox">{{ checked }}</label>

    <h2>Multiple checkbox</h2>
    <input type="checkbox" v-model="checkednames" id="jack" value="jack">
    <label for="jack">jack</label>
    <input type="checkbox" v-model="checkednames" id="John" value="John">
    <label for="John">John</label>
    <input type="checkbox" v-model="checkednames" id="Mike" value="Mike">
    <label for="Mike">Mike</label>
    <p>Checked Names</p>
    <pre>{{ checkednames }}</pre>
    <h2>Radio</h2>
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
    <br>
    <h2>Select</h2>
    <select v-model="selected">
    <option disabled value="">Please Select one</option>
    <option> A </option>
    <option> B </option>
    <option> C </option>

    </select>
    <span>Selected {{ selected }}</span>

    <h2>Multiple Select</h2>
    <select v-model="multiselected" multiple style="width: 100px;">
    <option disabled value="">Please Select one</option>
    <option value="A"> A </option>
    <option value="B"> B </option>
    <option value="C"> C </option>

    </select>
    <span>Selected {{ multiselected }}</span>
</template>
<style scoped></style>