<script lang="ts" setup>
import {ref} from "vue";
const message = ref("Hello World");
function reversemessage(){
    message.value = message.value.split("").reverse().join("");
}
function notify(){
    alert("nevigation was prevents.");
}
</script>
<template>
    <h1>{{ message }}</h1>
    <button @click="reversemessage">Reverse</button>
    <button @click="message += '!'">Append "!"</button>
    <a href="https://vuejs.org" @click.prevent="notify">A link with e.preventDefault</a>
</template>
<style scope>
button ,a{
    display: block;
    margin-bottom: lem;
}
</style>