<script setup lang="ts">
import {ref} from 'vue';
import todoitem from './todoitem.vue';
const grocerylist = ref([
    {id: 0 ,text: "Vegetables"},
    {id: 1 ,text: "Cheese"},
    {id: 2 ,text: "Whatever else humans are supposed to eat"}
]);
</script>
<template>
    <ol>
        <todoitem v-for="item of  grocerylist" :key="item.id" :todo="item"/>
        <li v-for="item of grocerylist" :key="item.id">{{ item.text }}</li>
    </ol>
</template>