<script setup lang="ts">
import {ref} from 'vue';
import type {PropType} from "vue";
export interface Eatable{
    id: number; text: string;
}
const prop = defineProps({
    todo: {type: Object as PropType<{id:number; text:String}>, required:true},
});
</script>
<template>
<li>{{ todo.text }}</li>
</template>
<style>

</style>