<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import CalComponent from './components/CalComponent.vue';
import HelloWorldExample from './components/HelloWorldExample.vue';
import HandlingUserinput from './components/HandlingUserinput.vue';
import Attributebinding from './components/Attributebinding.vue';
import ConditionAndLoop from './components/ConditionAndLoop.vue';
import FormBindings from './components/FormBindings.vue';
import SimpleComponent from './components/SimpleComponent.vue';
</script>

<template>
<div>
  <SimpleComponent/>
  <br><br>
  <FormBindings/>
  <br><br>
  <ConditionAndLoop />
  <Attributebinding />
  <HandlingUserinput />
  <CalComponent />
  <HelloWorldExample />
</div>
</template>

<style scoped>

</style>
